<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <%= form_for @team do |f| %>
        <%= f.label :name, "Enter a Name" %>
        <%= f.text_field :name %>
        <%= f.label :tee_off_time, "Enter Tee-Off Time" %>
        <%= f.text_field :tee_off_time %>
        <%= label_tag :member_1 %>
        <%= text_field_tag :member_1 %>
        <%= label_tag :member_2 %>
        <%= text_field_tag :member_2 %>
        <%= label_tag :member_3 %>
        <%= text_field_tag :member_3 %>
        <%= label_tag :member_4 %>
        <%= text_field_tag :member_4 %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>

