<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <%= form_for @team  do |f| %>
        <%= f.label :name, "Enter Team Name" %>
        <%= f.text_field :name %><br>
        <%= f.label :tee_off_time, "Enter Tee-Off Time" %>
        <%= f.text_field :tee_off_time %><br>

        <%= f.label :score, "Enter Team Score" %>
        <%= f.text_field :score %><br>

        <%= label_tag :member_1, "Select Member 1" %>
        <%= select_tag :member_1, options_from_collection_for_select(@users_without_a_team, :id, :full_name, @team.users.first&.id) %>
        <br>

        <%= label_tag :member_2, "Select Member 2" %>
        <%= select_tag :member_2, options_from_collection_for_select(@users_without_a_team, :id, :full_name, @team.users.second&.id) %>
        <br>

        <%= label_tag :member_3, "Select Member 3" %>
        <%= select_tag :member_3, options_from_collection_for_select(@users_without_a_team, :id, :full_name, @team.users.third&.id) %>
        <br>

        <%= label_tag :member_4, "Select Member 4" %>
        <%= select_tag :member_4, options_from_collection_for_select(@users_without_a_team, :id, :full_name, @team.users.fourth&.id) %>
        <br>

        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>

