<h1>All Teams</h1>
<%= link_to "Add Team", teams_new_path %>


<!-- Insert form below if/when necessary -->


<ul>
  <% @teams.each do |team| %>
    <li>
      <h2><%= link_to team.name, team_path(team) %></h2>
      <p>Members: <%= team[:members] %></p>
      <p>Tee-Off Time: <%= team[:tee_off_time] %></p>
      <p>Score: <%= team[:score] %></p>
       <!-- link_to "Edit Team", team_path(@team)  -->
      <%= link_to "Remove Team", team_path(team), method: :delete %>
    </li>
    <% end %>
</ul>
