<h1>All Teams</h1>

<!-- Insert form below if/when necessary -->


<ul>
  <% @teams.each do |team| %>
    <li>
      <h2><%= team[:name] %></h2>
      <p><%= team[:members] %></p>
      <p><%= team[:tee_off_time] %></p>
      <p><%= team[:score] %></p>
    <%= link_to "More Details", team_path(team) %>
    </li>
    <% end %>
</ul>
