<h1><%= @team[:name] %></h1>

<ul>
  <% @team.users.each_with_index do |user, index| %>
    <p> Member <%= index + 1 %>: <%= user.first_name %> <%= user.last_name %> </p>
    <% end %>
  <p>Tee-Off Time: <%= @team[:tee_off_time] %></p>
  <p>Score: <%= @team[:score] %></p>
  <%= link_to "Remove Team", team_path(@team), method: :delete %>
</ul>


<%= link_to "Back to all teams", teams_path %>
