<!DOCTYPE html>
<html>
  <head>
      <!-- Add these line for detecting device width -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Pkpgolf</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Line below may not be necessary, check with a pro -->
    <!-- => <link rel="stylesheet" href=""> -->

    <%= javascript_include_tag 'application', 'active_admin', 'data-turbolinks-track': 'reload' %>
    <!-- Line below may not be necessary, check with a pro -->
    <!-- => <script src=""></script> -->
  </head>

  <body>

    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>

    <footer>
      Made By Yours Truly, Alex Corrado
    </footer>
  </body>
</html>
